.header .subhead{
    color: grey;
}
.nav-link {
    background-color: cornflowerblue;
    color: white;
}
.nav-link:hover {
    background-color: white;
    color: cornflowerblue;
}
.content-heading {
    text-align: right;
    color: cornflowerblue;
    font-style: italic;
}
.main_page {
    justify-content: center;
    background-color: rgb(202, 202, 202);
    width: 1000px;
    min-height: 700px;
}
.gpa-calc-bkg {
    background-color: #cceeff;
}
.main-content {
    min-height: 470px;
}
.content-heading {
    width: 1000px;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}
table {
    text-align: center;
}
.home-button {
    background-color: #00ba8b;
}
.lab1-button, .lab2-button {
    background-color: #008CBA;
}
input {
    width: 100%;
}